@page "/catalog/"

@using CatalogApp.Models
@using Microsoft.FluentUI.AspNetCore.Components
@using Microsoft.FluentUI.AspNetCore;

@inject NavigationManager Navigation
@inject RobotCatalog RobotCatalog

<h1>Available Robots</h1>

<FluentSplitter Orientation="@Orientation.Horizontal" BarSize="6" Panel1MinSize="15%" Panel2MinSize="50px">
    <Panel1>
        <div class="demo-panel demo-panel-1">

            <div>
                <FluentDataGrid Items="@people">
                    <PropertyColumn Property="@(p => p.PersonId)" Sortable="true" />
                    <PropertyColumn Property="@(p => p.Name)" Sortable="true" />
                    <PropertyColumn Property="@(p => p.BirthDate)" Format="yyyy-MM-dd" Sortable="true" />
                </FluentDataGrid>

            </div>
            <p>
                <FluentButton id="myPopoverButtonl" Appearance="Appearance.Accent"
                    @onclick="() => _visibleL = !_visibleL">
                    Open Callout 1
                </FluentButton>

            </p>
            <FluentPopover Style="width: 300px;" VerticalThreshold="170" AnchorId="myPopoverButtonl"
                @bind-Open="_visibleL">
                <Header>Callout Header</Header>

                <Body>
                    <FluentStack Orientation="Orientation.Vertical">
                        <FluentCheckbox>Item 1</FluentCheckbox>
                        <FluentCheckbox>Item 2</FluentCheckbox>
                        <FluentTextField tabindex="0"></FluentTextField>
                    </FluentStack>
                </Body>
                <Footer>Callout Footer</Footer>
            </FluentPopover>
        </div>
    </Panel1>
    <Panel2>
        <div class="demo-panel demo-panel-2">
            <FluentStack Wrap="true">
                @foreach (var robot in RobotCatalog.GetRobots())
                {
                    <a href="/catalog/@(robot.Name.ToLower())" @onclick:preventDefault @onclick="() => NavigateTo(robot.Name)">
                        <FluentCard Width="320px">
                            <img class="card-img" src="@(robot.ImageUrl)">
                            <span>@robot.Name</span>
                            <span>€ @robot.Price</span>
                        </FluentCard>
                    </a>
                }
            </FluentStack>
        </div>
    </Panel2>
</FluentSplitter>

@code {
    bool _visibleL = false;

    record Person(int PersonId, string Name, DateOnly BirthDate);

    IQueryable<Person> people = new[]
    {
new Person(10895, "Jean Martin", new DateOnly(1985, 3, 16)),
new Person(10944, "António Langa", new DateOnly(1991, 12, 1)),
new Person(11203, "Julie Smith", new DateOnly(1958, 10, 10)),
new Person(11205, "Nur Sari", new DateOnly(1922, 4, 27)),
new Person(11898, "Jose Hernandez", new DateOnly(2011, 5, 3)),
new Person(12130, "Kenji Sato", new DateOnly(2004, 1, 9)),
}.AsQueryable();

    public void NavigateTo(String r)
    {
        Navigation.NavigateTo($"{Navigation.BaseUri}catalog/{r.ToLower()}");
    }

}
